streamlit==1.32.0
langchain==0.1.13
langchain-community==0.0.29
langchain-groq==0.1.0
langchain-core==0.1.35
pypdf==4.1.0
faiss-cpu==1.8.0
sentence-transformers==2.5.1
torch==2.2.1
transformers==4.39.1

